*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('img/cork.png');
}
header{
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.title {
  font-size: 4rem;
}
.col{
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}
.pin{
  width: 30px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.card{
  height: 100%;
  text-transform: capitalize;
  box-shadow: 5px 15px rgba(26, 25, 25, 0.1);
  position: relative;
  transition: all 0.5s;
}
.card:hover{
  transform: scale(1.2) rotate(10deg);
  box-shadow: 20px 30px rgba(26, 25, 25, 0.3);
  z-index: 1;
}
.bg-white{
  background-color: white;
}