*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('img/cork.png');
}
header{
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.title {
  font-size: 4rem;
}
.col{
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}
.pin{
  width: 30px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.bg-white{
  background-color: white;
}
.card{
  height: 100%;
  text-transform: capitalize;
  box-shadow: 5px 15px rgba(26, 25, 25, 0.1);
  position: relative;
  transition: all 0.5s;
}
.card:hover{
  transform: scale(1.2) rotate(10deg);
  box-shadow: 20px 30px rgba(26, 25, 25, 0.3);
  z-index: 1;
  cursor: pointer;
}
.overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  text-align: center;
  color: white;
}
.overlay.d-block{
  display: block;
}
.overlay img{
  width: 600px;
}
.overlay button {
  font-size: 20px;
  background-color: #f2f0f0;
  color: rgb(10, 9, 9);
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-top: 200px;
  width: 100px;
  height: 40px;
}
.overlay button:hover {
  background-color: #929292;
}
