*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.title {
  font-size: 4rem;
}
main{
  background-image: url('img/cork.png');
  background-size: cover; /* Copre tutto lo spazio disponibile */
  background-position: center; /* Centra l'immagine */
  background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
  height: 100vh; /* Imposta l'altezza del main per coprire tutta la finestra */
}